<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>disposition_detail Baru</h2>
        <ol class="breadcrumb">
            <li>
                <%= link_to 'Home', root_path %>
            </li>
            <li>
                <%= link_to 'disposition_details', '/disposition_details' %>
            </li>
            <li>
                <strong>disposition_detail Baru</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
        
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
	<%= render 'form' %>
	<%= link_to disposition_details_path, class: 'btn btn-danger' do %>
		Back
	<% end %>
</div>
